/* Setting a variable, we will use this variable with interpolation.
 Meaning in combination with other information. */
/*
  Defining a mixin to add a feel of depth to the elements
  We are setting a default value of the $height to high using $height:high
*/
*{
    box-sizing: border-box;
    
}
body {
  font-family: Tahoma, Helvetica, Arial, sans-serif;
  background-color: #d24dff;
  color: #ecf0f1;
  font-size: 18px; }
